// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Général

a {
    cursor: pointer;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.font-weight-bold {
    font-family: 'Montserrat', sans-serif;
}

.border {
    border-width: 2px !important;
}

.vert-valide {
    color: #53d300;
}

.input-bleu {
    background-color: #12286c;
    border: none;
    color: #fff;
}

.input-bleu::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

// Navbar
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-item {
    border: 1px solid transparent;
    font-family: 'Calibri Bold', sans-serif;
}

.navbar-dark .navbar-nav .nav-item:hover {
    border-bottom: 1px solid #fff;
}

.img-logo {
    max-height: 150px;
}

// homepage

.bg-concours {
    background-image: url('/img/concours.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 200px;
}

// Footer

footer a {
    color: #fff;
    display: block;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}


// Pack VIP prix

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}